@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;300;600&display=swap");
@import "./node_modules/@searchstax-inc/searchstudio-ux-js/dist/styles/mainTheme.css";

*,
html {
  font-family: "Barlow", sans-serif !important;
}

.container {
  width: 100%;
  margin: 20px auto;
}

h3 {
  font-size: 22px;
  font-weight: 400;
}

#feedbackWidgetContainer {
  margin-top: 20px;
}