@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;300;600&display=swap');

*, html{
    font-family: 'Barlow', sans-serif !important;
}

b{
    font-weight: 600;
}

h3{
    font-size: 22px;
    font-weight: 600;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 2rem;
    border-bottom: thin solid #ddd;

    a{
        text-decoration: none;
        color: #18181B;

    }

    h3{
        text-decoration: none;
        padding: 0.5rem 0 0 0;
    }
}

.searchstax-search-input{
    padding: 0.5rem 1rem;
    min-width: 400px;
    border-radius: 6px;
    border: thin solid #ddd;

    &-container{
        display: flex;
        padding: 0.5rem 1rem;
        border-radius: 6px;
        height: auto !important;
    }
}

.searchstax-autosuggest-container{
    box-shadow: none !important;
}

.searchstax-autosuggest-item{

    &-term-container{
        margin-top: -20px;
        min-width: 460px !important;
        background: #fff;
        border: thin solid #ddd;
        position: absolute;
        z-index: 1;
        border-radius: 0px 0px 6px 6px;

        &:hover{
            color: #18181B !important;
        }
    }

    &:hover{
        cursor: pointer;
    }
}

.searchstax-page-layout{

    &-container{
        max-width: 1280px;
        margin: auto;
    }
    &-facet-result-container{
        padding: 2rem 0;
        margin: 0 !important;
    }

}

.searchstax-page-layout-facet-result-container, .search-details-container{
    display: flex;
    justify-content: space-between;
}

.searchstax-search-results{
    display: grid;
    grid-template-columns: repeat(3, minmax(30%, 1fr));
    gap: 20px;
    margin: 20px auto;
}

.searchstax-search-result{
    text-decoration: none;
    background: #fff;
    border: thin solid #ddd;
    border-radius: 6px;
    box-shadow: none;
    margin-bottom: 0;
    padding: 1rem;
    min-height: 350px;
    overflow: hidden;

    &:hover{
        border: thin solid #18181B;
    }

    &-description{
        margin: 20px 0px;
    }

    &-action{
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 10px;

        button{
            min-height: auto;
            min-width: auto;
            line-height: 20px;
            text-align: center;
            padding: 6px 24px;
            font-size: 14px;
            border: none;
            border-radius: 6px;
            cursor: pointer;
        }
    }
}

#searchstax-facets-container{
    margin-top: 30px;
}

.feedback-container{
    display: flex;
    justify-content: space-between;
}

.skills{
    margin: 1rem 0 2rem 0;
    label{
        font-weight: 600;
    }
}
.apply-btn{
    position: absolute;
    bottom: 10px;
    right: 10px;
    border: none;
    padding: 0.5rem 2rem;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;

    &:hover{
        cursor: pointer;
    }
}

.btn{
    &-primary{
        background-color: #18181B;
        color: #fff;
    }

    &-outline{
        background: #fff;
        border: thin solid #ddd !important;

        &:hover{
            border: thin solid #18181B !important;
        }
    }
}

.searchstax-search-result-ribbon{
    all: unset !important;
}

.promoted{
    background: #f4e0ae;
    border: thin solid #eac15a;

    .pill{
        background: #fff;
    }
}

.pill{
    background: #ddd;
    padding: 0.3rem;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    margin-right: 10px;
}

.searchstax-facet-value-container{
    margin-bottom: 5px;
}

.searchstax-facet-title-container{
    color: #18181B !important;
    font-weight: 600;
    margin-bottom: 20px !important;
}

.searchstax-facet-show-more-button, .searchstax-facet-show-less-button{
    color: #18181B !important;
    font-weight: 600;
    margin-top: 15px !important;
}

.searchstax-related-searches-container{
    margin-top: 10px;
    h3{
        font-size: 14px;
        margin-bottom: 10px;
    }
}

.searchstax-related-search{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}


.searchstax-related-search-item{
    text-transform: capitalize;
    color: #18181B !important;
    border: thin solid #ddd;
    border-radius: 50px;
    padding: 0.25rem 0.75rem;

    &:hover{
        cursor: pointer;
        color: #fff !important;
        background: #444449;
        border: thin solid #18181B;
    }
}

.searchstax-search-result-content{
    height: 300px;
    margin-bottom: 50px;
    overflow: hidden;
}

.searchstax-pagination-content{
    .disabled{
        color: #99a2ac !important;
        font-weight: 300;
    }
    a{
        color: #18181B !important;
        font-weight: 600;
    }
}

.searchstax-main-page-title{
    display: none;
}