@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;300;600&display=swap');

*, html {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none;
}

//highlight .searchstax-facet-values-container when child input is checked
.searchstax-facet-value-container:has(input:checked)  {
    border-bottom: 4px solid #0057AD !important;
    opacity: 1;
}

section {
    width: 70%;
}
.wrapper{
    padding: 20px 40px 0px;
    display: flex;
    margin: 0 auto;
    //add gap
    gap: 20px;
}

.container {
    border-bottom: thin solid #ddd;
}

.searchstax-search-input-container {
    background-color: #DFDFDF;
    padding: 10px 30px 5px 20px !important;
    width: 80%;

    input{
        background-color: #DFDFDF;

    }
}

.searchstax-search-icon{
    background-image: url('./images/search.svg') !important;
    width: 20px !important;
    margin-right: 20px;
}

.searchstax-search-close{
    background-image: url('./images/circle-xmark.svg') !important;
    margin-right: 20px;
    opacity: 0.5;
}


.searchstax-facet-values-container:not(.searchstax-facet-values-container2) {
    .searchstax-facets-container-desktop {
        margin-top: 60px;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
    }

    .searchstax-facet-container{
        padding-bottom: 0 !important;
    }
    display: flex !important;
    gap: 20px;
    .searchstax-facet-value-container {
        cursor: pointer;
        padding-bottom: 20px;
        opacity: 0.7;
        transition: opacity 0.3s ease, border-bottom 0.3s ease;
        border-bottom: 4px solid transparent;

        &:hover {
            opacity: 1;
            border-bottom: 4px solid #0057AD;

        }

        .searchstax-facet-value-label{
            font-weight: 600 !important;
        }
        .searchstax-facet-value-count{
            font-weight: 300 !important;
        }

        .searchstax-facet-value-label,
        .searchstax-facet-value-count {
            opacity: 0.7;
            text-transform: capitalize !important;
            &:hover {
                opacity: 1;
            }
        }
    }
    .searchstax-facet-input {
        display: none;
    }
}

// not searchstax-facet-values-container2


.searchstax-search-results{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.searchstax-search-result{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 20px;
}

#search-feedback-container{
    margin: 20px;
}

.searchstax-pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.searchstax-pagination-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    text-align: center;
}

.searchstax-pagination-next, .searchstax-pagination-previous {
    color: #212121 !important;
    padding: 0.75rem 4rem;
    border-radius: 40px;
    margin-top: 20px;
    text-decoration: none;
    border: thin solid #ddd;
    font-weight: 600;

    &:hover {
       border: thin solid #212121;
    }
}

.searchstax-no-results {

    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.searchstax-search-result-title-container {
    margin-top: 10px;
}

.hide{
    display: none;
}
.show{
    display: block;
}

.selected {
    color: #0057AD !important;
}

.searchstax-main-page-title{
    display: none;
}