<div>
  <app-searchstax-wrapper
    [searchURL]="config.searchURL"
    [suggesterURL]="config.suggesterURL"
    [trackApiKey]="config.trackApiKey"
    [searchAuth]="config.searchAuth"
    [language]="config.language"
    [model]="config.model"
    [beforeSearch]="beforeSearch"
    [afterSearch]="afterSearch"
    [authType]="config.authType"
    [sessionId]="sessionId"
    [questionURL]="config.questionURL"
    [analyticsBaseUrl]="config.analyticsBaseUrl"
    (initialized)="initialized($event)"
  >
    <div class="searchstax-page-layout-container">
      <div id="searchstax-feedback-container"></div>
      <app-searchstax-input
        [afterAutosuggest]="afterAutosuggest"
        [beforeAutosuggest]="beforeAutosuggest"
        [suggestAfterMinChars]="renderConfig.inputWidget.suggestAfterMinChars"
        [templateOverride]="inputTemplate"
      >
        <ng-template
          #inputTemplate
          let-suggestions="suggestions"
          let-onMouseLeave="onMouseLeave"
          let-onMouseOver="onMouseOver"
          let-onMouseClick="onMouseClick"
          let-context="context"
        >
          <div class="searchstax-search-input-wrapper">
            <input
              type="text"
              id="searchstax-search-input"
              class="searchstax-search-input"
              placeholder="SEARCH FOR..."
              aria-label="search"
            />
            <div
              class="searchstax-autosuggest-container"
              [ngClass]="{ hidden: suggestions.length === 0 }"
              (mouseleave)="onMouseLeave(context)"
            >
              <div
                class="searchstax-autosuggest-item"
                *ngFor="let suggestion of suggestions"
              >
                <div
                  class="searchstax-autosuggest-item-term-container"
                  [innerHtml]="suggestion.term"
                  (mouseover)="onMouseOver(suggestion, context)"
                  tabindex="0"
                  (click)="onMouseClick($event, context)"
                ></div>
              </div>
            </div>
          </div>
          <app-searchstax-search-location
            [locationDecode]="locationDecode"
            [locationDecodeCoordinatesToAddress]="
              locationDecodeCoordinatesToAddress
            "
            [locationSearchEnabled]="locationSearchEnabled"
            [locationValuesOverride]="locationValuesOverride"
            [templateOverride]="locationTemplate"
          >
            <ng-template
              #locationTemplate
              let-context="context"
              let-locationData="locationData"
              let-inputValue="inputValue"
              let-selectValue="selectValue"
              let-radiusChange="radiusChange"
              let-inputChange="inputChange"
              let-locationBlur="locationBlur"
              let-locationError="locationError"
              let-getCurrentLocation="getCurrentLocation"
            >
              <div
                class="searchstax-location-input-container"
                data-test-id="searchstax-location-input-container"
                *ngIf="locationData"
              >
                <div class="searchstax-location-input-wrapper">
                  <span class="searchstax-location-input-label">NEAR</span>
                  <div class="searchstax-location-input-wrapper-inner">
                    <input
                      type="text"
                      id="searchstax-location-input"
                      class="searchstax-location-input"
                      [ngClass]="{
                        'searchstax-input-location-error': locationError
                      }"
                      placeholder="Zip, Postal Code or City..."
                      aria-label="Search Location Input"
                      data-test-id="searchstax-location-input"
                      [value]="inputValue"
                      (change)="inputChange($event, context)"
                      (blur)="locationBlur(context)"
                    />
                    <button
                      (click)="getCurrentLocation(context)"
                      class="searchstax-get-current-location-button"
                    >
                      Use my current location
                    </button>
                  </div>
                  <span
                    *ngIf="locationData.shouldShowLocationDistanceDropdown"
                    class="searchstax-location-input-label"
                    >WITHIN</span
                  >
                  <select
                    *ngIf="locationData.shouldShowLocationDistanceDropdown"
                    id="searchstax-location-radius-select"
                    class="searchstax-location-radius-select"
                    aria-label="Search Location Radius Select"
                    data-test-id="searchstax-location-radius-select"
                    (change)="radiusChange($event, context)"
                    [(ngModel)]="context.selectValue"
                  >
                    <option
                      *ngFor="
                        let value of locationData.locationSearchDistanceValues
                      "
                      [value]="value.value"
                    >
                      {{ value.label }}
                    </option>
                  </select>
                </div>
              </div>
            </ng-template>
          </app-searchstax-search-location>
          <button
            class="searchstax-spinner-icon"
            id="searchstax-search-input-action-button"
            role="button"
            aria-label="search"
          ></button>
        </ng-template>
      </app-searchstax-input>
      <app-searchstax-answer
        [showMoreAfterWordCount]="100"
        [templateOverride]="answerTemplate"
        [feedbackwidget]="feedbackConfig"
      >
        <ng-template
          #answerTemplate
          let-answerData="answerData"
          let-showMore="showMore"
          let-context="context"
        >
          <div class="searchstax-answer-wrap">
            <div class="searchstax-answer-icon"></div>
            <div>
              <div
                [class]="{
                  'searchstax-answer-container': true,
                  'searchstax-answer-show-more':
                    answerData.showMoreButtonVisible
                }"
              >
                <div class="searchstax-answer-title">Smart Answers</div>
                <div
                  class="searchstax-answer-error"
                  *ngIf="answerData.shouldShowAnswerError"
                  [innerHTML]="answerData.answerErrorMessage"
                ></div>
                <div
                  class="searchstax-answer-description"
                  [innerHTML]="answerData.fullAnswerFormatted"
                ></div>
                <div
                  *ngIf="answerData.answerLoading"
                  class="searchstax-answer-loading"
                ></div>
              </div>
              <div
                *ngIf="answerData.showMoreButtonVisible"
                class="searchstax-answer-load-more-button-container"
              >
                <button
                  class="searchstax-answer-load-more-button"
                  (click)="showMore($event, context)"
                >
                  Read More
                </button>
              </div>
            </div>
            <div class="searchstax-answer-footer">
              <div id="feedbackWidgetContainer"></div>
              <div class="searchstax-lightweight-widget-separator-inline"></div>
              <p class="searchstax-disclaimer">Generative AI is Experimental</p>
            </div>
          </div>
        </ng-template>
      </app-searchstax-answer>
      <div class="search-details-container">
        <app-searchstax-search-feedback [templateOverride]="feedbackTemplate">
          <ng-template
            #feedbackTemplate
            let-searchFeedbackData="searchFeedbackData"
            let-onOriginalQueryClick="onOriginalQueryClick"
            let-context="context"
          >
            <h2 class="searchstax-feedback-container">
              Showing
              <b
                >{{ searchFeedbackData!.startResultIndex }} -
                {{ searchFeedbackData!.endResultIndex }}</b
              >
              of <b>{{ searchFeedbackData!.totalResults }}</b> results
              <span *ngIf="searchFeedbackData.searchTerm"
                >for "<b>{{ searchFeedbackData!.searchTerm }}</b
                >"
              </span>
              <div class="searchstax-feedback-container-suggested">
                <div *ngIf="searchFeedbackData.autoCorrectedQuery">
                  Search instead for
                  <a
                    href="#"
                    (click)="onOriginalQueryClick($event, context)"
                    class="searchstax-feedback-original-query"
                    [attr.aria-label]="
                      'Search instead for: ' + searchFeedbackData!.originalQuery
                    "
                    >{{ searchFeedbackData!.originalQuery }}</a
                  >
                </div>
              </div>
            </h2>
          </ng-template>
        </app-searchstax-search-feedback>
        <app-searchstax-search-sorting
          [templateOverride]="sortingTemplateOverride"
        >
          <ng-template
            #sortingTemplateOverride
            let-selectedSorting="selectedSorting"
            let-orderChange="orderChange"
            let-context="context"
          >
            <div class="searchstax-sorting-container" *ngIf="context.sortingData.sortOptions.length > 0">
              <label
                class="searchstax-sorting-label"
                for="searchstax-search-order-select"
                >Sort By</label
              >
              <select
                id="searchstax-search-order-select"
                class="searchstax-search-order-select"
                [(ngModel)]="context.selectedSorting"
                (change)="orderChange($event, context)"
              >
                <option
                  *ngFor="let sortOption of context.sortingData.sortOptions"
                  [value]="sortOption.key"
                >
                  {{ sortOption.value }}
                </option>
              </select>
            </div>
          </ng-template>
        </app-searchstax-search-sorting>
      </div>
      <div class="searchstax-page-layout-facet-result-container">
        <div class="searchstax-page-layout-facet-container">
          <app-searchstax-search-facets
            [facetingType]="renderConfig.facetsWidget.facetingType"
            [itemsPerPageDesktop]="
              renderConfig.facetsWidget.itemsPerPageDesktop
            "
            [itemsPerPageMobile]="renderConfig.facetsWidget.itemsPerPageMobile"
            [templateOverrideDesktop]="templateOverrideDesktop"
            [templateOverrideMobile]="templateOverrideMobile"
          >
            <ng-template
              #templateOverrideDesktop
              let-facetsTemplateDataDesktop="facetsTemplateDataDesktop"
              let-isNotDeactivated="isNotDeactivated"
              let-context="context"
              let-toggleFacetGroup="toggleFacetGroup"
              let-facetValues="facetValues"
              let-isChecked="isChecked"
              let-selectFacet="selectFacet"
              let-showMoreLessDesktop="showMoreLessDesktop"
            >
              <div class="searchstax-facets-container-desktop">
                <div
                  class="searchstax-facet-container"
                  *ngFor="let facet of facetsTemplateDataDesktop?.facets"
                  [class]="{ active: isNotDeactivated(facet.name, context) }"
                >
                  <div>
                    <div
                      class="searchstax-facet-title-container"
                      (click)="toggleFacetGroup(facet.name, context)"
                    >
                      <div class="searchstax-facet-title">
                        {{ facet.label }}
                      </div>
                      <div class="searchstax-facet-title-arrow active"></div>
                    </div>
                    <div
                      class="searchstax-facet-values-container"
                      aria-live="polite"
                    >
                      <div
                        *ngFor="
                          let facetValue of facetValues(facet);
                          index as key
                        "
                        class="searchstax-facet-value-container"
                        [class]="{
                          'searchstax-facet-value-disabled': facetValue.disabled
                        }"
                        #ref
                      >
                        <div class="searchstax-facet-input">
                          <input
                            type="checkbox"
                            class="searchstax-facet-input-checkbox"
                            [checked]="isChecked(facetValue, context)"
                            [attr.aria-label]="
                              facetValue.value + ' ' + facetValue.count
                            "
                            [disabled]="facetValue.disabled"
                            (click)="
                              selectFacet(
                                ref,
                                $event,
                                facetValue,
                                true,
                                context
                              )
                            "
                          />
                        </div>
                        <div
                          class="searchstax-facet-value-label"
                          (click)="
                            selectFacet(ref, $event, facetValue, false, context)
                          "
                        >
                          {{ facetValue.value }}
                        </div>
                        <div
                          class="searchstax-facet-value-count"
                          (click)="
                            selectFacet(ref, $event, facetValue, false, context)
                          "
                        >
                          ({{ facetValue.count }})
                        </div>
                      </div>
                      <div
                        class="searchstax-facet-show-more-container"
                        *ngIf="facet.hasMoreFacets"
                      >
                        <div
                          class="searchstax-facet-show-more-container"
                          (click)="showMoreLessDesktop($event, facet, context)"
                          (keyup.enter)="
                            showMoreLessDesktop($event, facet, context)
                          "
                          (keyup.space)="
                            showMoreLessDesktop($event, facet, context)
                          "
                          tabindex="0"
                          role="button"
                        >
                          <div
                            *ngIf="facet.showingAllFacets"
                            class="searchstax-facet-show-less-button searchstax-facet-show-button"
                          >
                            less
                          </div>
                          <div
                            *ngIf="!facet.showingAllFacets"
                            class="searchstax-facet-show-more-button searchstax-facet-show-button"
                          >
                            more
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template
              #templateOverrideMobile
              let-isNotDeactivated="isNotDeactivated"
              let-context="context"
              let-toggleFacetGroup="toggleFacetGroup"
              let-facetValues="facetValues"
              let-isChecked="isChecked"
              let-selectFacet="selectFacet"
              let-openOverlay="openOverlay"
              let-selectedFacetsCheckboxes="selectedFacetsCheckboxes"
              let-unselectFacet="unselectFacet"
              let-unselectAll="unselectAll"
              let-facetMobileData="facetMobileData"
              let-facetsTemplateDataMobile="facetsTemplateDataMobile"
              let-closeOverlay="closeOverlay"
              let-showMoreLessDesktop="showMoreLessDesktop"
              let-showMoreLessMobile="showMoreLessMobile"
            >
              <div class="searchstax-facets-container-mobile">
                <div class="searchstax-facets-pills-container">
                  <div
                    class="searchstax-facets-pill searchstax-facets-pill-filter-by"
                    (click)="openOverlay(context)"
                  >
                    <div class="searchstax-facets-pill-label">Filter By</div>
                  </div>
                  <div class="searchstax-facets-pills-selected">
                    <div
                      class="searchstax-facets-pill searchstax-facets-pill-facets"
                      *ngFor="let facet of selectedFacetsCheckboxes"
                      (click)="unselectFacet(facet, context)"
                    >
                      <div class="searchstax-facets-pill-label">
                        {{ facet.value }} ({{ facet.count }})
                      </div>
                      <div class="searchstax-facets-pill-icon-close"></div>
                    </div>
                  </div>
                  <div
                    class="searchstax-facets-pill searchstax-clear-filters searchstax-facets-pill-clear-all"
                    *ngIf="selectedFacetsCheckboxes.length"
                    (click)="unselectAll(context)"
                  >
                    <div class="searchstax-facets-pill-label">
                      Clear Filters
                    </div>
                  </div>
                </div>
                <div
                  class="searchstax-facets-mobile-overlay"
                  [class]="{
                    'searchstax-show': facetMobileData(facetsTemplateDataMobile)
                      ?.overlayOpened
                  }"
                >
                  <div class="searchstax-facets-mobile-overlay-header">
                    <div class="searchstax-facets-mobile-overlay-header-title">
                      Filter By
                    </div>
                    <div
                      class="searchstax-search-close"
                      (click)="closeOverlay(context)"
                    ></div>
                  </div>
                  <div class="searchstax-facets-container-mobile">
                    <div
                      *ngFor="let facet of facetsTemplateDataMobile?.facets"
                      class="searchstax-facet-container"
                      [class]="{
                        active: isNotDeactivated(facet.name, context)
                      }"
                    >
                      <div>
                        <div
                          class="searchstax-facet-title-container"
                          (click)="toggleFacetGroup(facet.name, context)"
                        >
                          <div class="searchstax-facet-title">
                            {{ facet.label }}
                          </div>
                          <div
                            class="searchstax-facet-title-arrow active"
                          ></div>
                        </div>
                        <div
                          class="searchstax-facet-values-container"
                          aria-live="polite"
                        >
                          <div
                            *ngFor="
                              let facetValue of facetValues(facet);
                              index as key
                            "
                            class="searchstax-facet-value-container"
                            [class]="{
                              'searchstax-facet-value-disabled':
                                facetValue.disabled
                            }"
                            #ref
                          >
                            <div class="searchstax-facet-input">
                              <input
                                type="checkbox"
                                class="searchstax-facet-input-checkbox"
                                [checked]="isChecked(facetValue, context)"
                                [attr.aria-label]="
                                  facetValue.value + ' ' + facetValue.count
                                "
                                [disabled]="facetValue.disabled"
                                (click)="
                                  selectFacet(
                                    ref,
                                    $event,
                                    facetValue,
                                    true,
                                    context
                                  )
                                "
                              />
                            </div>
                            <div
                              class="searchstax-facet-value-label"
                              (click)="
                                selectFacet(
                                  ref,
                                  $event,
                                  facetValue,
                                  false,
                                  context
                                )
                              "
                            >
                              {{ facetValue.value }}
                            </div>
                            <div
                              class="searchstax-facet-value-count"
                              (click)="
                                selectFacet(
                                  ref,
                                  $event,
                                  facetValue,
                                  false,
                                  context
                                )
                              "
                            >
                              ({{ facetValue.count }})
                            </div>
                          </div>
                          <div
                            class="searchstax-facet-show-more-container"
                            *ngIf="facet.hasMoreFacets"
                          >
                            <div
                              class="searchstax-facet-show-more-container"
                              (click)="
                                showMoreLessMobile($event, facet, context)
                              "
                              (keyup.enter)="
                                showMoreLessMobile($event, facet, context)
                              "
                              (keyup.space)="
                                showMoreLessMobile($event, facet, context)
                              "
                              tabindex="0"
                            >
                              <div
                                *ngIf="facet.showingAllFacets"
                                class="searchstax-facet-show-less-button searchstax-facet-show-button"
                              >
                                less
                              </div>
                              <div
                                *ngIf="!facet.showingAllFacets"
                                class="searchstax-facet-show-more-button searchstax-facet-show-button"
                              >
                                more
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <button
                    class="searchstax-facets-mobile-overlay-done"
                    (click)="closeOverlay(context)"
                  >
                    Done
                  </button>
                </div>
              </div>
            </ng-template>
          </app-searchstax-search-facets>
        </div>
        <div class="searchstax-page-layout-result-container">
          <app-searchstax-external-promotions
            [templateOverride]="externalPromotionsTemplate"
          >
            <ng-template
              #externalPromotionsTemplate
              let-context="context"
              let-externalPromotionsData="externalPromotionsData"
              let-trackClick="trackClick"
            >
              <div
                class="searchstax-external-promotions-container"
                id="searchstax-external-promotions-container"
              >
                <div
                  class="searchstax-external-promotion searchstax-search-result"
                  *ngFor="
                    let externalPromotion of externalPromotionsData.externalPromotions
                  "
                >
                  <div class="icon-elevated"></div>
                  <a
                    *ngIf="externalPromotion.url"
                    [href]="externalPromotion.url"
                    (click)="trackClick(externalPromotion, $event, context)"
                    class="searchstax-result-item-link"
                  ></a>
                  <div class="searchstax-search-result-title-container">
                    <span class="searchstax-search-result-title">{{
                      externalPromotion.name
                    }}</span>
                  </div>
                  <p
                    *ngIf="externalPromotion.description"
                    class="searchstax-search-result-description searchstax-search-result-common"
                  >
                    {{ externalPromotion.description }}
                  </p>
                  <p
                    *ngIf="externalPromotion.url"
                    class="searchstax-search-result-description searchstax-search-result-common"
                  >
                    {{ externalPromotion.url }}
                  </p>
                </div>
              </div>
            </ng-template>
          </app-searchstax-external-promotions>
          <app-searchstax-results
            [afterLinkClick]="afterLinkClick"
            [resultsTemplate]="resultsTemplate"
            [renderMethod]="renderConfig.resultsWidget.renderMethod"
            [noResultsTemplate]="noResultsTemplate"
          >
            <ng-template
              #resultsTemplate
              let-searchResults="searchResults"
              let-resultClicked="resultClicked"
              let-isImage="isImage"
              let-context="context"
            >
              <div class="searchstax-search-results">
                <a
                  *ngFor="let searchResult of searchResults"
                  [href]="searchResult.url"
                  [attr.data-searchstax-unique-result-id]="
                    searchResult.uniqueId
                  "
                  (click)="resultClicked(searchResult, $event, context)"
                  (keyup.enter)="resultClicked(searchResult, $event, context)"
                  (keyup.space)="resultClicked(searchResult, $event, context)"
                  [attr.aria-labelledby]="'title-' + searchResult.uniqueId"
                  tabindex="0"
                  class="searchstax-result-item-link searchstax-result-item-link-wrapping"
                >
                  <div
                    class="searchstax-search-result"
                    [ngClass]="{ 'has-thumbnail': searchResult.thumbnail }"
                  >
                    <div
                      *ngIf="searchResult.promoted"
                      class="searchstax-search-result-promoted"
                    ></div>
                    <div
                      *ngIf="searchResult.ribbon"
                      [innerHTML]="searchResult.ribbon"
                      class="searchstax-search-result-ribbon"
                    ></div>
                    <img
                      alt=""
                      *ngIf="searchResult.thumbnail"
                      [src]="searchResult.thumbnail"
                      class="searchstax-thumbnail"
                    />
                    <div class="searchstax-search-result-title-container">
                      <span
                        class="searchstax-search-result-title"
                        [id]="'title-' + searchResult.uniqueId"
                        [innerHTML]="searchResult.title"
                      ></span>
                    </div>
                    <p
                      tabindex="0"
                      *ngIf="searchResult.paths"
                      class="searchstax-search-result-common"
                      [innerHTML]="searchResult.paths"
                    ></p>
                    <p
                      tabindex="0"
                      *ngIf="searchResult.description"
                      [innerHTML]="searchResult.description"
                      class="searchstax-search-result-description searchstax-search-result-common"
                    ></p>
                    <div
                      *ngFor="let unmappedField of searchResult.unmappedFields"
                    >
                      <div
                        *ngIf="isImage(unmappedField)"
                        class="searchstax-search-result-image-container"
                      >
                        <img
                          alt=""
                          [src]="unmappedField.value"
                          class="searchstax-result-image"
                        />
                      </div>
                      <div *ngIf="!isImage(unmappedField)">
                        <p
                          tabindex="0"
                          class="searchstax-search-result-common"
                          [innerHTML]="unmappedField.value"
                        ></p>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </ng-template>
            <ng-template
              #noResultsTemplate
              let-metadata="metadata"
              let-searchTerm="searchTerm"
              let-executeSearch="executeSearch"
              let-context="context"
            >
              <div class="searchstax-no-results">
                Showing <strong>no results</strong> for
                <strong>"{{ searchTerm }}"</strong>
                <br />
                <span *ngIf="metadata?.spellingSuggestion"
                  >&nbsp;Did you mean
                  <a
                    href="#"
                    [attr.aria-label]="
                      'did you mean: ' + metadata?.spellingSuggestion
                    "
                    class="searchstax-suggestion-term"
                    (click)="
                      executeSearch(
                        metadata?.spellingSuggestion ?? '',
                        $event,
                        context
                      )
                    "
                    >{{ metadata?.spellingSuggestion }}</a
                  >?</span
                >
              </div>
              <ul>
                <li>
                  Try searching for search related terms or topics. We offer a
                  wide variety of content to help you get the information you
                  need.
                </li>
                <li>
                  Lost? Click on the ‘X” in the Search Box to reset your search.
                </li>
              </ul>
            </ng-template>
          </app-searchstax-results>
          <app-searchstax-related-searches
            [relatedSearchesURL]="config.relatedSearchesURL"
            [relatedSearchesAPIKey]="config.relatedSearchesAPIKey"
            [templateOverride]="relatedTemplate"
          >
            <ng-template
              #relatedTemplate
              let-rand="rand"
              let-relatedData="relatedData"
              let-executeSearch="executeSearch"
              let-context="context"
            >
              <div
                class="searchstax-related-searches-container"
                [id]="'searchstax-related-searches-container' + rand"
              >
                Related searches: <span id="searchstax-related-searches"></span>
                <span
                  class="searchstax-related-search"
                  *ngIf="relatedData.relatedSearches"
                >
                  <span
                    *ngFor="let related of relatedData.relatedSearches"
                    (click)="executeSearch(related, context)"
                    (keyup.enter)="executeSearch(related, context)"
                    (keyup.space)="executeSearch(related, context)"
                    tabindex="0"
                    class="searchstax-related-search searchstax-related-search-item"
                    role="link"
                    [attr.aria-label]="
                      'Related search: ' + related.related_search
                    "
                  >
                    {{ related.related_search
                    }}<span *ngIf="!related.last">,</span>
                  </span>
                </span>
              </div>
            </ng-template>
          </app-searchstax-related-searches>

          <app-searchstax-search-pagination
            [templateOverride]="paginationTemplate"
            [infiniteScrollTemplateOverride]="infiniteScrollTemplate"
          >
            <ng-template
              #paginationTemplate
              let-paginationData="paginationData"
              let-previousPage="previousPage"
              let-nextPage="nextPage"
              let-context="context"
            >
              <div class="searchstax-pagination-container">
                <div class="searchstax-pagination-content">
                  <a
                    class="searchstax-pagination-previous"
                    [class]="paginationData.isFirstPage ? 'disabled' : ''"
                    (click)="previousPage($event, context)"
                    (keyup.enter)="previousPage($event, context)"
                    (keyup.space)="previousPage($event, context)"
                    tabindex="0"
                    id="searchstax-pagination-previous"
                  >
                    &lt; Previous
                  </a>
                  <div class="searchstax-pagination-details">
                    {{ paginationData?.startResultIndex }} -
                    {{ paginationData?.endResultIndex }} of
                    {{ paginationData?.totalResults }}
                  </div>
                  <a
                    class="searchstax-pagination-next"
                    [class]="paginationData.isLastPage ? 'disabled' : ''"
                    (click)="nextPage($event, context)"
                    (keyup.enter)="nextPage($event, context)"
                    (keyup.space)="nextPage($event, context)"
                    tabindex="0"
                    id="searchstax-pagination-next"
                    >Next ></a
                  >
                </div>
              </div>
            </ng-template>

            <ng-template
              #infiniteScrollTemplate
              let-paginationData="paginationData"
              let-nextPage="nextPage"
              let-context="context"
            >
              <div class="searchstax-pagination-container">
                <div class="searchstax-pagination-content">
                  <a
                    class="searchstax-pagination-load-more"
                    (click)="nextPage($event, context)"
                    (keyup.enter)="nextPage($event, context)"
                    (keyup.space)="nextPage($event, context)"
                    tabindex="0"
                  >
                    Load More
                  </a>
                </div>
              </div>
            </ng-template>
          </app-searchstax-search-pagination>
        </div>
      </div>
    </div>
  </app-searchstax-wrapper>
</div>
