@import "../../node_modules/@searchstax-inc/searchstudio-ux-js/dist/styles/scss/mainTheme.scss";

@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;300;600&display=swap");

*,
html {
  font-family: "Barlow", sans-serif !important;
}

body {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

b {
  font-weight: 600;
}

h3 {
  font-size: 22px;
  font-weight: 400;
}

.searchstax-page-layout-facet-result-container {
  display: flex;
  justify-content: space-between;
}

.searchstax {
  &-search {
    &-input-container {
      width: 50%;
      height: auto !important;
      margin: auto;
      font-size: 22px;
      font-weight: 300;
      box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.35) !important;
      border-radius: 6px !important;
      &.searchstax-alternative-render {
        width: 65%;
      }
    }
    &-result {
      display: flex;
      flex-direction: row;
      border-radius: 8px;
      overflow: hidden;
      padding: 0 !important;
      height: 180px;

      &-image-container {
        width: 250px !important;
        height: unset !important;
        overflow: unset !important;
      }

      &-content {
        flex: 2;
        padding: 1rem;
      }

      &-ribbon {
        all: unset !important;
        font-size: 12px !important;
      }

      &-title-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
      }

      &-title {
        font-weight: 600;
        font-size: 14px !important;
        line-height: 1.2rem;
        text-transform: uppercase;
      }

      &-description {
        margin-top: 20px;
      }

      &:hover {
        cursor: pointer;
        box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.25);
      }
    }
  }

  &-autosuggest-container {
    margin-top: 55px !important;
    border-radius: 0px 0px 10px 10px;
  }

  &-result {
    &-image {
      display: block;
      height: 100% !important;
      object-fit: cover;
    }
  }

  &-facet {
    &-title {
      font-weight: 600;
      margin-bottom: 10px;
    }
    &-value {
      &-container {
        margin-bottom: 5px;
      }
      &-label {
        text-transform: capitalize !important;
      }
      &-count {
        font-weight: 600 !important;
      }
    }
  }

  &-related-searches-container {
    margin-top: 40px;
    display: flex;
  }

  &-related-search {
    display: flex;
    // grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    margin: 0px 0 20px 10px;

    &-item {
      display: block;
      color: #111 !important;
      font-weight: 500;
    }
  }
}
.searchstax-facets-pill-filter-by {
  height: auto !important;
}

.search-details-container {
  margin-top: 40px !important;
  justify-content: space-between;
}
.feedback-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.pill {
  background: #ddd;
  padding: 0.3rem;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
  margin-right: 10px;
  white-space: nowrap;
}

@media (min-width: 37.5em) {
  .container {
    width: calc(37.5em + ((100% - 37.5em) * 0.7));
  }
}

@media screen and (max-width: 767px) {
  .searchstax-search-input-container {
    width: 100%;
  }
}
.searchstax-facet-value-count {
  font-weight: 600 !important;
}

.searchstax-facet-show {
  &-more-button,
  &-less-button {
    font-weight: 600;
  }
}

#feedbackWidgetContainer {
  margin-top: 20px;
}

#searchstax-feedback-container {
  width: calc(50% + 40px);
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 767px) {
  #searchstax-feedback-container {
    width: calc(100% + 40px);
  }
}

@media (max-width: 1024px) {
  .searchstax-alternative-render {
    width: 100% !important;
  }
  .searchstax-page-layout-container {
    width: 100% !important;
    margin-left: 0;
  }
  .searchstax-alternative-render {
    width: 100% !important;
    padding-left: 0;
  }
}

@media (max-width: 550px) {
  .searchstax-alternative-render {
    .searchstax-location-input-container {
      width: 100% !important;
    }
    display: block !important;
    .searchstax-location-input-wrapper {
      display: block !important;
      .searchstax-location-input-label {
        display: block;
      }
      input,
      select {
        width: 100% !important;
        padding: 0;
        padding-left: 10px;
      }
      select {
        width: calc(100% + 10px) !important;
        padding-right: 10px;
      }
    }
  }
}
